<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

      <form method="post" action="/">
        <p>Input the text you want pig latinized here:</p>
        <textarea name="user_text"></textarea>
        <br>
        <button type="submit" value="submit">Submit</button>
      </form>
  </body>
</html>